.Task-Button {
    background-color: rgb(255, 243, 209);
    color: rgb(158, 84, 23);
    margin: 5px;
    display: flex;
    float: left;
}

.Task-Button:hover,
.Task-Button:focus,
.Task-Button:active {
    background-color: rgb(247, 197, 140);
    color: rgb(255, 251, 248);
    box-shadow: none !important;
}

.Task-Desc {
    margin: 5px;
    display: right;
    float: right;
    width: fit-content;
    text-align: left;
}

.Task {
    display: flex;
    float: left;
}
