.Task-Button {
    background-color: rgb(248, 209, 231);
    color: rgb(180, 102, 38);
    margin: 5px;
    display: flex;
    float: left;
}

.Task-Desc {
    margin: 5px;
    display: right;
    float: right;
    width: fit-content;
    text-align: left;
}

.Task {
    display: flex;
    float: left;
}
