body {
    margin: 40px;
}

.difficulty-edit {
    margin-top: 40px;
    border: none;
    float: left;
}

.difficulty-edit > label {
    color: #90a0a3;
    float: right;
}

.difficulty-edit > label:before {
    margin: 5px;
    font-size: 2em;
    font-family: FontAwesome;
    content: "\f005";
    display: inline-block;
}

.difficulty-edit > input {
    display: none;
}

.difficulty-edit > input:checked ~ label,
.difficulty-edit:not(:checked) > label:hover,
.difficulty-edit:not(:checked) > label:hover ~ label {
    color: #f79426;
}

.difficulty-edit > input:checked + label:hover,
.difficulty-edit > input:checked ~ label:hover,
.difficulty-edit > label:hover ~ input:checked ~ label,
.difficulty-edit > input:checked ~ label:hover ~ label {
    color: #fece31;
}
