.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-image: url(/desktopview.jpg);
    background-repeat: no-repeat;
    background-size: 1400px;
    background-position: center;
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(71, 28, 3);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rectangle {
    display: inline-block;
    width: 100px;
    height: 150px;
    background: red;
}

.h1 {
    background: "#00FF00";
}

.dropdown {
    position: absolute;
    top: 10px;
    left: 10px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.welcome {
    font-size: x-large;
    margin: 50px;
    color: rgb(71, 28, 3);
}

.central-list,
.UserList,
.pending-list {
    text-align: center;
    color: rgb(71, 28, 3);
    margin: 50px;
    border-radius: 25px;
    outline: 4px solid rgb(71, 28, 3);
}

.Pendingsort-dropdown,
.Usersort-dropdown,
.Centralsort-dropdown {
    margin: auto;
    align-items: center;
    width: 75%;
    padding: 10px;
    position: relative;
    display: inline-block;
}

.Pendingsort-dropbtn,
.Usersort-dropbtn,
.Centralsort-dropbtn {
    background-color: rgb(121, 73, 45);
    color: white;
    margin: 5px;
    display: flex;
}

.Pendingsort-options,
.Usersort-options,
.Centralsort-options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.Pendingsort-options Button,
.Usersort-options Button,
.Centralsort-options Button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.Pendingsort-options Button:hover,
.Usersort-options Button:hover,
.Centralsort-options Button:hover {
    background-color: #f1f1f1;
}

.Pendingsort-dropdown:hover .Pendingsort-options,
.Usersort-dropdown:hover .Usersort-options,
.Centralsort-dropdown:hover .Centralsort-options {
    display: block;
}

.Pendingsort-dropdown:hover .Pendingsort-dropbtn,
.Usersort-dropdown:hover .Usersort-dropbtn,
.Centralsort-dropdown:hover .Centralsort-dropbtn {
    background-color: rgb(185, 132, 101);
}

.scheduleName h2 {
    text-align: center;
}

.central-tasks,
.userTaskList,
.pending-tasks {
    border-top: 4px solid rgb(71, 28, 3);
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.search-button {
    margin: auto;
    align-items: center;
    width: 90%;
    padding: 10px;
    position: relative;
}
/* App.css */
/* Navbar.css */
.navbar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    background: none;
    background-color: bisque;
}
